# exclude the following files
parameter_vis.py
eval_Radio2Speech.sh
layer_weights.txt
LJSpeech_val_calstat.csv
network_structure.py

.vscode
**/.DS_Store
__pycache__
.gitignore

/net_best.pth
/R50+ViT-B_16.npz
/train_nodev_ljspeech_parallel_wavegan.v1
/ckpt
/tensorboard
/save_waves